@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap");
html {
  font-size: 62.5%;
}
:root {
  --clr-yellow: hsl(71, 73%, 54%);
  --clr-cyan: hsl(179, 62%, 43%);
  --clr-light-gray: hsl(204, 43%, 93%);
  --clr-grayish-blue: hsl(218, 22%, 67%);

  --clr-white: #ffffff;

  --ff-primary: "Karla", serif;
  --ff-body: var(--ff-primary);

  --fs-body: 1.6rem;
  --fw-regular: 400;
  --fw-semi: 500;
  --fw-bold: 700;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--clr-white);
  background-color: var(--clr-grayish-blue);
}
/* utlility classes for color  */
.white {
  color: var(--clr-white);
}
.yellow {
  color: var(--clr-yellow);
}
.cyan {
  color: var(--clr-cyan);
}
.grayish-blue {
  color: var(--clr-grayish-blue);
  /* this width is for paragraph */
  max-width: 56ch;
}
h1 {
  font-size: 3.2rem;
  font-weight: var(--fw-bold);
}
h2 {
  font-size: 3rem;
}
span {
  opacity: 0.5;
}
section {
  margin: 7em auto;
  border-radius: 25px;
  width: 72%;
}

.col-1 {
  background-color: var(--clr-white);
  padding: 1rem 3rem 2rem;
  display: grid;
}
.col-1 .yellow {
  font-weight: var(--fw-bold);
}
.col-1 p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.two {
  display: grid;
}
.col-2,
.col-3 {
  padding: 3rem;
}
.col-2 {
  background-color: var(--clr-cyan);
}
.col-3 {
  background-color: hsl(179deg 47% 52%);
}
.col-3 p {
  opacity: 0.5;
}
.btn {
  margin: 2rem 0;
  cursor: pointer;
  background-color: var(--clr-yellow);
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  padding: 1.6rem 9.6rem;
  border: 0;
  border-radius: 10px;
}
.btn:hover {
  opacity: 0.9;
}
@media (min-width: 800px) {
  .two {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 525px) {
  html {
    font-size: 45%;
  }
  h1,
  h2 {
    font-size: 2.6rem;
    font-weight: var(--fw-bold);
  }
  .col-1,
  .two {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .btn {
    width: 90%;
  }
}
